# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/

# Logs
*.log

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Android (gerados)
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS (gerados)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/
